@{
    ViewBag.Title = "Inicio";
}

<h2>Sistema de Gestión de Colaboradores - Konecta</h2>

<p>Seleccione una opción:</p>

<ul>
    <li>
        @Html.ActionLink("Registrar Colaborador", "Registrar", "Colaborador")
    </li>
    <li>
        @Html.ActionLink("Consultar Colaborador", "Consultar", "Colaborador")
    </li>
</ul>
